.smallCardContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 566.67px;
    min-height: 300px;
    padding: 30px;
    background-color: white;
    border-radius: 30px;
}

.paragraphs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.paleParagraph {
    color: #7D7D7D;
}

.buttonSpan {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width: 425px) {
    .smallCardContainer {
        max-width: 320px;   
        @supports (view-timeline-name: --reveal) {
            animation-name: show;
            animation-fill-mode: both;
            view-timeline-name: --reveal;
            animation-timeline: --reveal;
            animation-range: entry 25% cover 50%;
        } 
    }
}

@keyframes show {
  from { 
    opacity: 0;
    scale: 10%;
  }

  to {
    opacity: 1;
    scale: 100%;
  }
}