.smallCardContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 566.67px;
    min-height: 300px;
    padding: 30px;
    background-color: white;
    border-radius: 30px;
}

.paragraphs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.paleParagraph {
    color: #7D7D7D;
}

.buttonSpan {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width: 425px) {
    .smallCardContainer {
        max-width: 320px;
    }
}
