
.container {
    display: flex;
    flex-direction: column;
    gap: 46px;
}

.titleZone {
    display: flex;
    gap: 40px;
}

.mainZone {
    display: flex;
    justify-content: space-between;
    padding-left: 120px;
}

.statusMessage {
    font-size: 200px;
    font-family:'Montserrat', monospace;
    text-align: center;
}