
.container {
    display: flex;
    flex-direction: column;
    gap: 46px;
}

.titleZone {
    display: flex;
    align-items: center;
    gap: 40px;
}

.mainZone {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 120px;
}

.statusMessage {
    font-size: 200px;
    font-family:'Montserrat', monospace;
    text-align: center;
}

@media (max-width: 1224px) {
    .mainZone {
        padding: 0 20px 0 30px;
    }  
}

@media (max-width: 739px) {
    .mainZone {
        flex-direction: column;     
        gap: 50px;   
    }

    .titleZone {
        gap: 20px;
    }
}

@media (max-width: 425px) {
    .mainZone {
        padding: 0 2px 0 8px;
    }
}